*.keras filter=lfs diff=lfs merge=lfs -text
models/Facade_inception.keras filter=lfs diff=lfs merge=lfs -text
models/finishing_mobile.keras filter=lfs diff=lfs merge=lfs -text
models/Foundation_mobile.keras filter=lfs diff=lfs merge=lfs -text
models/inception.keras filter=lfs diff=lfs merge=lfs -text
models/Interior_mobile.keras filter=lfs diff=lfs merge=lfs -text
models/mobilenet.keras filter=lfs diff=lfs merge=lfs -text
models/Superstructure_mobile.keras filter=lfs diff=lfs merge=lfs -text
models/Superstructure_vgg16.keras filter=lfs diff=lfs merge=lfs -text
models/vgg16.keras filter=lfs diff=lfs merge=lfs -text
